{
    "extends": "airbnb-base",
    "env": {
        "es6": true,
        "node": true
    },
    "plugins": [
        "import"
    ],
    "rules": {
        "no-underscore-dangle": "off",
        "max-len": [1, 200]
    }
}